@model List<Trial.Models.Markalar>

@{
}



<html>
<head>
    <style>


        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .topnav {
            overflow: hidden;
            background-color: #ea9d9d;
            width: 100%;
            height: 120px;
            padding: 0px;
        }

        .top {
            margin-top: 10px;
            margin-left: 80px;
            margin-right: 80px;
        }

        .topnav a {
            margin-top: 2%;
            margin-left: 5%;
            float: left;
            display: block;
            color: #cf3030;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 800;
        }

            .topnav a:hover {
                background-color: #efb7b7;
                color: #e97272;
            }

            .topnav a.active {
                color: #cf3030;
            }

        .topnav .search-container {
            float: right;
        }

        .topnav input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 12px;
            border: none;
            width: 60%;
            height: 25px;
        }

        .search-container {
            margin-top: 2%;
            height: 40px;
        }

        .topnav .search-container button {
            height: 25px;
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 22%;
            background: #efb7b7;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }

            .topnav .search-container button:hover {
                background: #ccc;
            }

        #aralık {
            height: 120px;
        }

        .topnav input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }


        ::-webkit-input-placeholder {
            font-size: 80%;
        }

        body {
            font-family: 'lato',sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            background-color: #e9cbcb;
        }

        html {
            font-size: 10px;
        }


        .form-group {
            padding-top: 25px;
        }




        .duzenle a {
            padding-top: 20px;
            margin-left: 50%;
            text-decoration: none;
            font-size: 18px;
            color: #cf3030;
            font-weight: 700;
        }


        .hizala {
            margin-left: 24%;
        }

        .duzenle {
            float: left;
            margin-top: 70px;
        }

        .duzenle {
            height: 325px;
            margin-right: 100px;
            width: 25%;
        }
    </style>

    @*<link href="~/Css/MarkalarIndex.css"  rel="stylesheet"/>*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link href="~/Css/StyleSheet1.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="widht=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />




</head>
<body>

    <div class="topnav" id="a">
        <div id="baslik">
            <a href="@Url.Action("Index","Home",new { id = Session["UserId"] })" class="smoothScroll" id="a">Anasayfa</a>
            <a href="@Url.Action("Index1","Makyaj",new {id=Session["UserId"] } )" class="baslık">Makyaj</a>
            <a href="@Url.Action("Index","Markalar",new {id=Session["UserId"] } )" class="baslık">Markalar</a>
            <a href="@Url.Action("Register","Member",new {id=Session["UserId"] } )" class="baslık">Kaydol</a>

            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

        </div>
    </div>



    @foreach (var ulke in Model)
    {


        <div class="hizala">
            <div class="duzenle">
                <img src="@ulke.MarkaResim" alt="" style="width:320px;height:320px; border-radius:10px;" />
                <h5><a href="/Markalar/Detay/@ulke.MarkaId">@ulke.MarkaAdi</a></h5>
                @*<a class="view_btn" href="/Markalar/Detay/@ulke.MarkaId"></a>*@
            </div>
        </div>


    }



</body>
</html>