@model Trial.Models.Resimler

@{
    ViewBag.Title = "UrunEkle";
}

<html>
<head>
    <style>
        input{
            margin-top:15px;
        }
        
    </style>
    <link href="~/Css/YoneticiUrun.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link href="~/Css/StyleSheet1.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="widht=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

</head>
<body>

    <div class="topnav">

        <a href="/Yonetici/Index" class="baslık">Geri Dön</a>
     
        @*<div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>*@


    </div>

    @using (Html.BeginForm("FotografEkle", "Yonetici", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="icerik" style="margin-left:100px; margin-top:20px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            <h4>Ürün İsmi : </h4>
            <div class="col-md-10">
                <span class="isim">@Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @class = "form-control" } }) </span>
            </div>
        </div>

        <div class="form-group">
            <h4>Ürün Detayları :</h4>

            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunMetin, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@


        <div class="form-group">
            <h4>Resmin kategorisi : </h4>
            <div class="col-md-10">
                <span class="isim">@Html.EditorFor(model => model.ResimKategorisi, new { htmlAttributes = new { @class = "form-control" } }) </span>
            </div>
        </div>





        <div class="form-group">
            <h4>1. Resim :</h4>

            <div class="col-md-10">
                <input type="file" name="foto" , id="foto" , accept=".jpeg,.JPEG,.jpg,.png,.gif" class="form-control" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "Burda" })
            </div>
        </div>

        <div class="form-group">
            <h4>2. Resim :</h4>

            <div class="col-md-10">
                <input type="file" name="foto2" , id="foto2" , accept=".jpeg,.JPEG,.jpg,.png,.gif" class="form-control" />
                @Html.ValidationMessageFor(model => model.ımage2, "", new { @class = "Burda" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-default" style="width:176px; height:30px; background-color: #ea9d9d; font-size:16px; font-weight:500" />
            </div>
        </div>
    </div>
    }


</body>
</html>

